body {
	font-family: "Roboto", sans-serif;
}

h1 {
	text-align: center;
}

#grid_container {
	width: 500px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
}

#grid_container .pixel-high {
	width: calc(500px * (1 / 30) - 1px);
	height: calc(500px * (1 / 30) - 1px);
}

#grid_container .pixel-medium {
	width: calc(500px * (1 / 26) - 1px);
	height: calc(500px * (1 / 26) - 1px);
}

#grid_container .pixel-low {
	width: calc(500px * (1 / 16) - 1px);
	height: calc(500px * (1 / 16) - 1px);
}

.unselected {
	background-color: lightgray;
}

.selected {
	background-color: rgb(32, 32, 32);
}

#button_container {
	width: 30%;
	height: 50px;
	margin: 5px auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
	grid-template-areas:
		"....... density"
		"reset high"
		"reset medium"
		"reset low";
}

#reset {
	grid-area: reset;
}

#high {
	grid-area: high;
}

#medium {
	grid-area: medium;
}

#low {
	grid-area: low;
}

#density {
	text-align: center;
	grid-area: density;
}
