body {
	font-family: "Roboto", sans-serif;
}

h1 {
	text-align: center;
}

#grid_container {
	width: 500px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
}

#grid_container .pixel-high {
	width: calc(500px * (1 / 40) - 1px);
	height: calc(500px * (1 / 40) - 1px);
}

#grid_container .pixel-medium {
	width: calc(500px * (1 / 30) - 1px);
	height: calc(500px * (1 / 30) - 1px);
}

#grid_container .pixel-low {
	width: calc(500px * (1 / 16) - 1px);
	height: calc(500px * (1 / 16) - 1px);
}

.unselected {
	background-color: lightgray;
}

.selected {
	background-color: rgb(32, 32, 32);
}

button {
	margin: 5px auto;
	display: block;
}
